{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}
{% load static %}

<div class="div_home_header">
    <div class="div_photo_contact">
        <div class="center_by_margin">
            <img id="img_photo" src="{% static 'hajni_image.jpg' %}">
        </div>
        <div class="center_by_margin">
            <h3>{% trans 'Rácz Hajnalka (oktató)' %}</h3>
            <p>{% trans 'Elérhetőség: ' %}{{ superusers_emails }}</p>
            <div>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <input name="call_me" class="a_button green_button {% if not user.is_authenticated %}disabled_button{% endif %}" type="submit" value="{% trans 'Hívj Vissza' %}" />
                </form>
                {% if not user.is_authenticated %}
                <p class="italic">{% trans 'Jelentkezz be visszahívás kéréséhez!' %}</p>
                {% endif %}
            </div>
            <div class="form_success_message">
                {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                        {{ message }}
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form_errors">
                {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                        {{ message }}
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="center_by_margin">
        <p>{% trans '2005 óta dolgozom tanárként gimnáziumban, technikumban, általános iskolában. Főbb területem az ügyvitel, mely valamelyest az informatika területét is magában foglalja. Pszichodrámavezetőként az emberek segítése volt a fő célom, mely most az oktatásban valósul meg.' %}</p>
        <h3>{% trans 'Bízom abban, hogy segítem ezzel mások boldogulását, előrelépését.' %}</h3>
    </div>
</div>

<div id="home_div">

    <table id="table_introduction_jobs" class="table_introduction">
        <tr><td colspan="2" class="td_introduction_title">{% trans 'Oktató / Pedagógus' %}</td></tr>
        <tr>
            <td class="table_introduction_jobs_col_left">
                <table>
                    <tr>
                        <th>{% trans 'Főállás' %}</th>
                    </tr>
                    <tr>
                        <td>{% trans 'Zöldsziget Körzeti Általános Iskola' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'BGéSZC Bethlen Gábor Technikum' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'BGéSZC Katona József Technikum' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Alternatív Közgazdasági Gimnázium' %}</td>
                    </tr>
                </table>
            </td>
            <td class="table_introduction_jobs_col_right">
                <table>
                    <tr>
                        <th>{% trans 'Óraadó' %}</th>
                    </tr>
                    <tr>
                        <td>{% trans 'Minerva Felnőttképző Központ' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Maimonidész Zsidógimnázium' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Meta – Don Bosco' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Számalk – Szalézi Szakgimnázium' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Skool – Technológiai Oktatásért Alapítvány' %}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Klasszis Oktatás Kft.' %}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table id="table_introduction_studies" class="table_introduction">
        <tr><td colspan="2" class="td_introduction_title" style="border: none;">{% trans 'Tanulmány' %}</td></tr>
        <tr>
            <td>{% trans 'Pannon Egyetem Modern Filológiai és Társadalomtudományi Kar' %}</td>
            <td>{% trans 'pedagógiatanár' %}</td>
        </tr>
        <tr>
            <td>{% trans 'Magyar Pszichodráma Egyesület' %}</td>
            <td>{% trans 'pszichodráma vezető' %}</td>
        </tr>
        <tr>
            <td style="border: none;">{% trans 'Nyíregyházi Főiskola Bölcsészettudományi és Művészeti Főiskolai Kar' %}</td>
            <td style="border: none;">{% blocktranslate %}ügyviteli tanár</br>kommunikáció szakos bölcsész – újságíró{% endblocktranslate %}</td>
        </tr>
    </table>

    <table id="table_introduction_publications" class="table_introduction">
        <tr><td colspan="2" class="td_introduction_title">{% trans 'Megjelent Kiadvány' %}</td></tr>
        <tr>
            <td><strong>{% blocktranslate %}Gépírás</strong> (Független Pedagógiai Intézet – Budapest, 2007){% endblocktranslate %}</td>
        </tr>
    </table>

</div>

<div id="content_wrapper">

</div>

{% endblock %}
