{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}
{% load static %}

<div id="home_div">
    <table id="table_contact">
        <tr>
            <td>
                <img id="img_photo" src="{% static 'hajni_image.jpg' %}">
            </td>
            <td>
                <h3>{% trans 'Rácz Hajnalka (oktató)' %}</h3>
                <p>{% trans 'Elérhetőség: ' %}{{ superusers_emails }}</p>
                <div>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <input name="call_me" class="a_button green_button {% if not user.is_authenticated %}disabled_button{% endif %}" type="submit" value="{% trans 'Hívj Vissza' %}" />
                    </form>
                    {% if not user.is_authenticated %}
                    <p class="italic">{% trans 'Jelentkezz be visszahívás kéréséhez!' %}</p>
                    {% endif %}
                </div>
                <div class="form_success_message">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                            {{ message }}
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form_errors">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                            {{ message }}
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>

    <p>{% trans '2005 óta dolgozom tanárként gimnáziumban, technikumban, általános iskolában. Főbb területem az ügyvitel, mely valamelyest az informatika területét is magában foglalja. Pszichodrámavezetőként az emberek segítése volt a fő célom, mely most az oktatásban valósul meg.' %}</p>
    <h3>{% trans 'Bízom abban, hogy segítem ezzel mások boldogulását, előrelépését.' %}</h3>

    <table id="table_introduction_jobs" class="table_introduction">
        <tr><td colspan="2" class="td_introduction_title">Oktató / Pedagógus</td></tr>
        <tr>
            <td class="table_col_border">
                <table>
                    <tr>
                        <th>Főállás</th>
                    </tr>
                    <tr>
                        <td>Zöldsziget Körzeti Általános Iskola</td>
                    </tr>
                    <tr>
                        <td>BGéSZC Bethlen Gábor Technikum</td>
                    </tr>
                    <tr>
                        <td>BGéSZC Katona József Technikum</td>
                    </tr>
                    <tr>
                        <td>Alternatív Közgazdasági Gimnázium</td>
                    </tr>
                    <tr>
                        <td style="color: white;">x</td>
                    </tr>
                    <tr>
                        <td style="color: white;">x</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <th>Óraadó</th>
                    </tr>
                    <tr>
                        <td>Minerva Felnőttképző Központ</td>
                    </tr>
                    <tr>
                        <td>Maimonidész Zsidógimnázium</td>
                    </tr>
                    <tr>
                        <td>Meta – Don Bosco</td>
                    </tr>
                    <tr>
                        <td>Számalk – Szalézi Szakgimnázium</td>
                    </tr>
                    <tr>
                        <td>Skool – Technológiai Oktatásért Alapítvány</td>
                    </tr>
                    <tr>
                        <td>Klasszis Oktatás Kft.</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table id="table_introduction_studies" class="table_introduction">
        <tr><td colspan="2" class="td_introduction_title" style="border: none;">Tanulmány</td></tr>
        <tr >
            <td>Pannon Egyetem Modern Filológiai és Társadalomtudományi Kar</td>
            <td>pedagógiatanár</td>
        </tr>
        <tr>
            <td>Magyar Pszichodráma Egyesület</td>
            <td>pszichodráma vezető</td>
        </tr>
        <tr>
            <td style="border: none;">Nyíregyházi Főiskola Bölcsészettudományi és Művészeti Főiskolai Kar</td>
            <td style="border: none;">ügyviteli tanár</br>kommunikáció szakos bölcsész – újságíró</td>
        </tr>
    </table>

    <table id="table_introduction_publications" class="table_introduction">
        <tr><td colspan="2" class="td_introduction_title">Megjelent Kiadvány</td></tr>
        <tr>
            <td><strong>Gépírás</strong> (Független Pedagógiai Intézet – Budapest, 2007)</td>
        </tr>
    </table>

</div>

<div id="content_wrapper">

</div>

{% endblock %}
