{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}
{% load static %}

<div id="home_div">
    <table>
        <tr>
            <td>
                <img id="img_photo" src="{% static 'hajni_image.jpg' %}">
            </td>
            <td>
                <h3>{% trans 'Rácz Hajnalka (oktató)' %}</h3>
                <p>{% trans 'Elérhetőség: ' %}{{ superusers_emails }}</p>
                <div>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <input name="call_me" class="a_button green_button {% if not user.is_authenticated %}disabled_button{% endif %}" type="submit" value="{% trans 'Hívj Vissza' %}" />
                    </form>
                    {% if not user.is_authenticated %}
                    <p class="italic">{% trans 'Jelentkezz be visszahívás kéréséhez!' %}</p>
                    {% endif %}
                </div>
                <div class="form_success_message">
                    {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                            {{ message }}
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>

    <p>{% trans '2005 óta dolgozom tanárként gimnáziumban, technikumban, általános iskolában. Főbb területem az ügyvitel, mely valamelyest az informatika területét is magában foglalja. Pszichodrámavezetőként az emberek segítése volt a fő célom, mely most az oktatásban valósul meg.' %}</p>
    <h3>{% trans 'Bízom abban, hogy segítem ezzel mások boldogulását, előrelépését.' %}</h3>

</div>

<div id="content_wrapper">

</div>

{% endblock %}
