{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}
{% load static %}

<div align="left">
    <div class="et_pb_text_inner">
        <h2 align="center"><strong>Adatkezelési Tájékoztató<br> </strong></h2>
        <p><strong>Tartalom:<br> </strong>A jelen Adatkezelési Tájékoztatóban te mint érintett megtalálod a személyes
            adataid <strong>Képzés Mindenkinek!</strong> mint a lentiekben megjelölt Adatkezelő általi kezelésére
            vonatkozó tájékoztatást az alábbi <strong><u>fejezetekben</u></strong>:</p>
        <p><strong>I. Alapvető rendelkezések. </strong>Egyéb általános tájékoztatás mellett ez a fejezet tartalmazza az
            Adatkezelő és egyes adatfeldolgozók adatait és egyes alapfogalmakat (II/2. pont).<br> <strong>II.
                Adatkezelési módok.</strong> Ebben a fejezetben külön tájékoztatást találsz (az adatkezelés céljáról,
            jogalapjáról és időtartamáról, az érintettek és a kezelt adatok köréről, az adattovábbítás címzettjeiről) az
            adatkezelés minden egyes alábbi célja tekintetében:<br> <strong>II/1. Regisztráció<br> </strong><strong>II/2.
                Képzésre jelentkezés<br> </strong><strong>II/3. Kapcsolatfelvétel velünk<br> </strong><strong>II/4. A hozzájárulás
                igazolása<br> </strong><strong>II/5. Cookie-k<br> </strong><strong>II/6. Panaszkezelés<br>
            </strong><strong>III. Az érintettek adatkezeléssel kapcsolatos jogai, valamint azok érvényesítése. </strong>Itt
            az adatkezeléshez kapcsolódó jogaid és a vonatkozó eljárás részletes leírását találod.<br> <strong>IV.
                Jogorvoslat. </strong>Ebben a fejezetben találod azon jogorvoslati lehetőségek részletes leírását, amik
            rendelkezésedre állnak, ha a személyes adataidhoz fűződő jogaid sérülnek</p>
        <p align="center"><strong>I. Alapvető rendelkezések</strong></p>
        <ol>
            <li><strong>Az Adatkezelő és adatfeldolgozó: Rácz Hajnalka</strong> e-mail: {{ superusers_emails }}
            </li>
        </ol>

        <ol start="2">
            <li><strong> Fogalmak: </strong></li>
        </ol>
        <p>2.1. „<strong>Adatkezelés</strong>”: a személyes adatokon vagy adatállományokon automatizált vagy nem
            automatizált módon végzett bármely művelet vagy műveletek összessége, így a gyűjtés, rögzítés, rendszerezés,
            tagolás, tárolás, átalakítás vagy megváltoztatás, lekérdezés, betekintés, felhasználás, közlés továbbítás,
            terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján, összehangolás vagy összekapcsolás,
            korlátozás, törlés, illetve megsemmisítés;<br> 2.2. „<strong>Adatkezelő</strong>”: az a természetes vagy
            jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely a személyes adatok kezelésének
            céljait és eszközeit önállóan vagy másokkal együtt meghatározza; ha az adatkezelés céljait és eszközeit az
            uniós vagy a tagállami jog határozza meg, az adatkezelőt vagy az adatkezelő kijelölésére vonatkozó különös
            szempontokat az uniós vagy a tagállami jog is meghatározhatja;<br> 2.3. „<strong>Adatfeldolgozó”</strong> az
            a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely az adatkezelő
            nevében személyes adatokat kezel.<br> 2.4. „<strong>Érintett”: </strong>bármely meghatározott, személyes
            adat alapján azonosított vagy – közvetlenül vagy közvetve – azonosítható természetes személy, akinek adatait
            az Adatkezelő kezeli.<br> 2.5. „<strong>Weboldal</strong>” <a href="http://www.kepzesmindenkinek.eu/">www.kepzesmindenkinek.eu</a>
            cím alatti weboldalon</p>
<!--        TODO website name -->
        <ol start="3">
            <li>Az Adatkezelő tevékenységének ellátása során, azzal összefüggésben, az ahhoz szükséges mértékben és
                módon kezeli az érintettek személyes adatait. Az Adatkezelő fő tevékenysége általános jelleggel az
                alábbi szolgáltatásokat foglalja magában: informatikai képzés tartása, munkaerő-közvetítés a képzést
                elvégző hallgatók közül az Adatkezelő partnerei számára. A képzésre történő felvételhez előzetes
                regisztrációt követően az online elérhető tananyag elsajátítására, majd ezt követően hallgatói
                jelentkezésre és személyes felvételi során a felvételi feladatok sikeres megoldására van szükség.
            </li>
            <li>Az Adatkezelő tevékenységét látogatói és ügyfelei személyiségi jogainak védelmével, a vonatkozó
                jogszabályok, így különösen:
            </li>
        </ol>
        <p>– az Európai Parlament és a Tanács (EU) 2016/679 rendelete (2016. április 27.) – a természetes személyeknek a
            személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a
            95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet, <strong>GDPR</strong>);<br> –
            valamint az információs önrendelkezési jogról és az információszabadságról; szóló 2011. évi CXII. törvény
            (továbbiakban: <strong>Info tv.</strong>);<br> – az elektronikus kereskedelmi szolgáltatások, valamint az
            információs társadalommal összefüggő szolgáltatások egyes kérdéseiről szóló 2001. évi CVIII. törvény
            (<strong>Ekertv.</strong>)<br> – a Polgári Törvénykönyvről szóló 2013. évi V. törvény (<strong>Ptk.</strong>);<br>
            rendelkezéseinek betartásával végzi.</p>
        <ol start="5">
            <li>Felhívjuk a figyelmet, hogy az érintett önkéntes hozzájárulásán alapuló adatkezeléshez a jelen
                Adatkezelési Tájékoztató feltételeinek elfogadásával egyidejűleg az érintett hozzájárul.
            </li>
            <li>A személyes adatok kezelése akkor jogszerű, ha a gyermek a 16.&nbsp;életévét betöltötte. A 16. életévét
                be nem töltött gyermek esetén, a gyermekek személyes adatainak kezelése csak akkor és olyan mértékben
                jogszerű, ha a hozzájárulást a gyermek feletti szülői felügyeletet gyakorló adta meg, illetve
                engedélyezte.
            </li>
            <li><strong>Módosítás: </strong>Az Adatkezelő jogosult bármikor egyoldalúan módosítani a jelen Adatkezelési
                Tájékoztató tartalmát, amiről e-mailben értesíti az érintetteket. Az érintettek a tájékoztatást a
                következő használatkor fogadják el.
            </li>
            <li>Amennyiben az Adatkezelőt bíróság, ügyészség, nyomozó hatóság, szabálysértési vagy közigazgatási
                hatóság, így pl. a Nemzeti Adatvédelmi és Információszabadság Hatóság, illetve jogszabály felhatalmazása
                alapján más szervek megkeresi tájékoztatás adása, adatok közlése, átadása végett, úgy a megkereső által
                a pontos cél, jogalap és az adatok körének megjelölése mellett az Adatkezelő rendelkezésére bocsátja a
                megkeresés céljának megvalósításához elengedhetetlenül szükséges személyes adatokat és erről az érintett
                Felhasználót haladéktalanul értesíti.
            </li>
        </ol>
        <p align="center"><strong>II. Adatkezelési módok:</strong></p>
        <p><strong>II/1. Regisztráció: </strong></p>
        <p>1.1. A Weboldalon elérhető képzésekre való jelentkezéshez regisztráció szükséges.<br> 1.2. Érintettek: a
            regisztráció során az adataikat megadó személyek.<br> 1.3. Az <strong><em>adatkezelés célja</em></strong>, hogy az érintettekkel az
            Adatkezelő kapcsolatot tudjon tartani és részükre az anyagokat mint szolgáltatását biztosítani tudja,
            hozzáférési jogosultságukat ellenőrizni tudja. Az adatkezelés nem alapul jogszabályon.<br> 1.4. Az
            adatkezeléssel érintett <strong>személyes adatok</strong> köre: felhasználónév/e-mail cím; jelszó.<br> 1.5.
            Az adatkezelés időtartama: a regisztrációs fiók törlésének érintett általi kezdeményezéséig, de legkésőbb a
            képzés sikeres elvégzése esetén az azt követő 6 hónap lejártáig vagy a képzés elvégzésének
            sikertelensége esetén a képzés megszűnéséig, jelentkezés és a képzés elvégzése hiányában az utolsó
            bejelentkezéstől számított 2 év lejártával.<br> 1.6. Az adatok a tárhelyszolgáltató mint adatfeldolgozó
            részére kerülnek továbbításra. Továbbított adatok: a regisztrációnál felvett adatok. Adattovábbítás
            jogalapja: a szerződés teljesítése. Az adattovábbítás nélkül az Adatkezelő nem tudja biztosítani a
            szolgáltatását.<br> 1.7. Felhívjuk a figyelmed, hogy Google vagy Facebook fiókkal történő regisztráció
            esetén az adatok gyűjtése ezen szolgáltatóktól (Facebook Inc.; 1 Hacker Way, Menlo Park, CA 94025, USA; és
            Google LLC 1600 Amphitheatre Pkwy, Mountain View, CA 94043, Egyesült Államok) történik az összekapcsolást
            elősegítő plug-inekkel és az adatkezelésre nézve ezen szolgáltatók adatkezelési tájékoztatói is irányadóak.
            Ebben az esetben a szolgáltatók felé a GDPR 6. cikk (1) bekezdés f) pontjának megfelelően, a szolgáltató
            (személyre szabott hirdetések megjelenítéséhez fűződő) jogos érdeke alapján továbbításra kerül az IP-címed
            és az az adat, hogy az eszközöd megnyitotta a Weboldalat és ezek az adatok a szolgáltatók által tárolásra
            kerülnek. A szolgáltatók az EU-n kívüli harmadik országokban székhellyel rendelkező szervezetek. Az Egyesült
            Államok vonatkozásában az Európai Bizottságnak a jelen Tájékoztató megalkotásakor nincs érvényes
            megfelelőségi határozata az Amerikai Egyesült Államok vonatkozásában, azonban a címzett szervezetek az
            adatvédelmi követelményeknek való megfelelés érdekében megfelelő és alkalmas garanciákat kínálnak általános
            szerződési feltételeikben és adatkezelési feltételeikben:</p>
        <p>Facebook:<br> <a href="https://www.facebook.com/privacy/explanation">https://www.facebook.com/privacy/explanation<br>
        </a>Google:<br> <a
                href="https://policies.google.com/privacy?hl=hu">https://policies.google.com/privacy?hl=hu</a></p>
        <p><em>Amennyiben az ilyen formában történő adatkezeléssel vagy a két szolgáltató adatkezelésre vonatkozó
            feltételeivel nem értesz egyet, úgy kérjük, hogy az e-maillel történő regisztrációt válaszd!</em></p>
        <p><strong>&nbsp;</strong><strong>II/2. Képzésre jelentkezés: </strong></p>
        <p>2.1. Az Adatkezelő képzésére történő jelentkezés a weboldalon és személyesen történik.<br> 2.2. Érintettek: a
            képzésre önkéntesen jelentkező személyek.<br> </strong>2.3. Az <strong><em>adatkezelés célja</em></strong> az érintettek és az Adatkezelő
            közötti kapcsolattartás és a felvételi eljárás (személyes felvételi vizsga) biztosítása. Az adatok megadása
            nélkül az Adatkezelő nem tudja biztosítani a szolgáltatását.<br> 2.4. Az adatkezeléssel érintett <strong>személyes
                adatok köre</strong>: vezetéknév, keresztnév, e-mail cím, telefonszám, életkor.<br> 2.5. Az adatkezelés időtartama: a
            regisztrációs fiók törlésének érintett általi kezdeményezéséig, de legkésőbb a képzés sikeres elvégzését
            követő 6 hónap lejártáig vagy a képzés elvégzésének sikertelensége esetén a képzés megszűnéséig,
            jelentkezés és a képzés elvégzése hiányában az utolsó bejelentkezéstől számított 2 év lejártával.<br> 2.6. A
            fent megjelölt tárhelyszolgáltató adatfeldolgozónak minősül az adatkezelés vonatkozásában. Az adattovábbítás
            nélkül az Adatkezelő nem tudja biztosítani a szolgáltatását. A személyes adatok továbbá továbbításra
            kerülnek a jelentkezéseket kezelő, elbíráló kollégáinkhoz.</p>
        <p><strong>II/3. Kapcsolatfelvétel velünk</strong></p>
        <p>3.1. Amikor valaki (pl. e-mail-ben) elsőként, egyéb adatkezelés nélkül felveszi a kapcsolatot
            az Adatkezelővel annak elérhetőségein (így ajánlatkérés vagy ajánlattétel céljából), az Adatkezelő személyes
            adatokat kezel.<br> 3.2. Az adatkezelés <strong><em>célja</em></strong> a kapcsolattartás.<br> 3.3. Az
            adatkezelés <strong><em>jogalapja</em></strong> az érintett önkéntes hozzájárulása. [GDPR 6. cikk (1)
            bekezdés a) pont szerinti adatkezelés].<br> 3.4. Az adatkezelés <strong><em>időtartama</em></strong>: a
            kommunikáció lezárultát követő 60 napig, illetve a jogalap megváltozásáig (pl. szerződéskötés).<br> 3.5. Az
            adatok megadása a szerződés kötésének nem feltétele, azonban annak elmaradása esetén a kapcsolattartás nem
            biztosítható.<br> 3.6. Az adatkezeléssel érintett <strong><em>személyes adatok köre</em></strong>: az
            érintett által a kapcsolatfelvételnél önkéntesen megadott személyes adatok, különösen a neve, e-mail címe,
            telefonszáma, beosztása, tisztsége.</p>
        <p><strong>II/4. A hozzájárulás igazolása</strong></p>
        <p>4.1. Ha az adatkezelés hozzájáruláson alapul, az adatkezelőnek képesnek kell lennie annak igazolására, hogy
            az érintett személyes adatainak kezeléséhez hozzájárult. Ennek érdekében az Adatkezelő tárolja és szükség
            esetén az eljáró hatóság/bíróság előtt felhasználja az érintett személyes adatait.<br> 4.2. Az érintett a
            hozzájárulást adó személy.<br> 4.3. A GDPR 7. cikk (1) bekezdése írja elő ezt a kötelezettséget [GDPR 6.
            cikk (1) bekezdés c) pont szerinti adatkezelés].<br> 4.4. Az adatkezeléssel érintett adatok köre: a
            hozzájárulás megadásának időpontja, IP-cím, az azonosításhoz szükséges adatok, így az e-mail cím és a
            vezeték, illetve keresztnév.<br> 4.5. Az adatkezelés időtartama: a jogszabályi elévülési idő.</p>
        <p><strong>II/5. Cookie-k</strong></p>
        <p>5.1. Az anonim látogatóazonosító (cookie/süti) egy olyan egyedi – azonosításra (autentikálásra), illetve
            profilinformációk tárolására alkalmas – jelsorozat, amelyet a szolgáltatók a látogatók, így az Érintett
            számítógépére helyeznek el. Fontos tudni, hogy az ilyen jelsorozat önmagában semmilyen módon nem képes az
            ügyfelet, azaz a látogatót azonosítani, csak a látogató gépének felismerésére alkalmas és az IP-cím
            kezelését igényli.<br> 5.2. A cookie használata az ügyfelek információhasználati szokásairól történő
            adatszerzést jelent a szolgáltatás színvonalának emelése és a szolgáltatások testreszabása céljából. A
            cookie webanalitikai célokat szolgál, elősegíti az érintettek megkülönböztetését, az adatvesztés
            megakadályozását. Az anonim látogatóazonosító lehetővé teszi továbbá az érintett internethasználatának, így
            a megtekintett weboldalak történetének a böngészési szokásoknak nyomon követését. A cookie használatával
            kizárólag az adott szolgáltató tudja az érintett adatokat az érintett személyével kapcsolatba hozni, és
            kizárólag az érintett domain cím látogatása esetén.<br> 5.3. Az érintettnek (a weboldal látogatójának) módja
            van a böngészőjét úgy beállítani, hogy az ne engedje meg az egyedi azonosító jel elhelyezését a
            számítógépére, illetőleg a telepítést, oldalra történő belépést követően törölni tudja ezeket a böngésző
            adatvédelmi beállításainál, így a követés leáll. Ebben az esetben a legtöbb szolgáltatásunkat ugyanúgy
            igénybe veheti, de bizonyos esetekben (például a testreszabott megoldásokat kínáló oldalainkon) az igénybe
            vehető szolgáltatások köre szűkebb.<br> 5.4. A cookie kezelése kapcsán az adattárolás időtartama a cookie
            típusától függ. A munkamenet-cookie-k a böngésző bezárásával lejárnak. A maradandó cookie-k, beleértve a
            helyi megosztott objektumokat („Flash cookie-kat”), általában két hónaptól pár évig terjedő lejárati idővel
            rendelkeznek, a lenti táblázat szerint.<br> 5.5. A legtöbb böngésző menüsorában található „Segítség”
            funkció, tájékoztatást nyújt arra vonatkozóan, hogy az Érintett saját böngészőjében<br> – hogyan tudja
            letiltani a cookie-kat,<br> – hogyan fogadhat el új cookie-kat,<br> – hogyan adhat utasítást böngészőjének
            arra, hogy új cookie-t állítson be, vagy<br> – hogyan kapcsoljon ki egyéb cookie-kat.</p>
        <p>5.6. Google Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=hu">https://support.google.com/accounts/answer/61416?hl=hu<br>
        </a>Firefox: <a
                href="https://support.mozilla.org/hu/kb/sutik-informacio-amelyet-weboldalak-tarolnak-szami?redirectlocale=hu&amp;redirectslug=S%C3%BCtik+kezel%C3%A9se">https://support.mozilla.org/hu/kb/sutik-informacio-amelyet-weboldalak-tarolnak-szami?redirectlocale=hu&amp;redirectslug=S%C3%BCtik+kezel%C3%A9se<br>
        </a>Microsoft Internet Explorer: <a
                href="https://support.microsoft.com/hu-hu/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11">https://support.microsoft.com/hu-hu/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11<br>
        </a>Microsoft Edge: <a href="https://privacy.microsoft.com/hu-HU/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/hu-HU/windows-10-microsoft-edge-and-privacy</a>
        </p>
        <p>5.7. Az adatkezelés célja: az érintetti élmény javítása, az érintettek azonosítása, az aktuális munkamenet
            adatainak tárolása, az adatvesztés megakadályozása, az érintettek azonosítása, nyomon követése,
            webanalitika.<br> 5.8. Az adatkezelés <strong><em>jogalapja</em></strong> a webes felület helyes működéséhez
            nélkülözhetetlen cookie-k esetén a GDPR 6. cikk (1) bekezdésének f) pontja, az Adatkezelőnek a weboldal
            megfelelő működéséhez fűződő jogos érdeke. Egyéb cookie-k esetében az adatkezelés jogalapja a GDPR 6. cikk
            (1) bek. a) pontjának megfelelően <strong><em>az érintett önkéntes hozzájárulása.<br> </em></strong>5.9. A
            kezelt adatok köre: böngészési előzmény, azonosítószám, dátum, időpont.</p>
        <p><strong>II/6. Panaszkezelés</strong></p>
        <p>6.1. Az Adatkezelés a panaszkezelés <strong><em>céljából</em></strong> történik, az Adatkezelő köteles a
            panaszt megőrizni a vonatkozó jogszabályok alapján.<br> 6.2. Az <strong><em>érintett</em></strong> a
            panaszos személy, illetve a kapcsolattartó.<br> 6.3. Az adatkezelés <strong><em>jogalapja</em></strong> a
            jogszabályi kötelezettség teljesítése, az 1997. évi CLV. törvény 17/A. § (7) bekezdése [GDPR 6. cikk (1)
            bekezdés c) pont szerinti adatkezelés].<br> 6.4. Az adatkezeléssel érintett <strong><em>személyes adatok
                köre</em></strong>: név, cím, e-mail cím, telefonszám.<br> 6.5. Az adatkezelés
            <strong><em>időtartama</em></strong>: 3 év, a jogszabályi megőrzési kötelezettségnek megfelelően.<br> 6.6.
            <strong><em>Címzettek: </em></strong>a panasz kezelésével foglalkozó kollégáink, valamint az érintett
            hatóságok.</p>
        <p align="center"><strong>III. Érintettek adatkezeléssel kapcsolatos jogai, valamint azok érvényesítése</strong>
        </p>
        <ol>
            <li>Az érintett az Adatkezelő fenti elérhetőségein gyakorolhatja jogait:<br> – a tájékoztatás kérése a
                személyes adatai kezeléséről, illetve a hozzáférési jog (III/1.);<br> – személyes adatai helyesbítésének
                kérése (III/2.),<br> – a kötelező adatkezelések kivételével a személyes adatok törlése iránti kérelem
                (III/3.),<br> – Az adatkezelés korlátozásához való jog (III/4.)<br> – adathordozáshoz való jog (III/5.),<br>
                – tiltakozás joga (III/6.);<br> – az automatizált döntéshozatal alóli mentesség joga (III/7.).<br> – a
                személyes adatok visszavonása (III/8.),
            </li>
        </ol>
        <p><strong>III/1. Tájékoztatáshoz való jog, hozzáférési jog:</strong></p>
        <p>1.1. Az Adatkezelő az érintettek a személyes adatai kezelésére vonatkozó, a GDPR 13. és 14. cikkében
            meghatározott körre kiterjedő tájékoztatást tömör, átlátható, érthető és könnyen hozzáférhető formában,
            világosan és közérthetően megfogalmazva adja meg.<br> 1.2. A tájékoztatás kérése írásban gyakorolható az
            Adatkezelő fenti elérhetőségein. Az érintett kérésére, amennyiben igazolja személyazonosságát, szóban is
            adható tájékoztatás.<br> 1.3. Az érintett jogosult arra, hogy az Adatkezelőtől visszajelzést kapjon arra
            vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, és ha ilyen adatkezelés folyamatban van,
            jogosult arra, hogy a személyes adatokhoz és a következő információkhoz hozzáférést kapjon: az adatkezelés
            céljai; az érintett személyes adatok kategóriái; azon címzettek vagy címzettek kategóriái, akikkel, illetve
            amelyekkel a személyes adatokat közölték vagy közölni fogják, ideértve különösen a harmadik országbeli
            címzetteket, illetve a nemzetközi szervezeteket; a személyes adatok tárolásának tervezett időtartama; a
            helyesbítés, törlés vagy adatkezelés korlátozásának és a tiltakozás joga; a felügyeleti hatósághoz címzett
            panasz benyújtásának joga; az adatforrásokra vonatkozó információ; az automatizált döntéshozatal ténye,
            ideértve a profilalkotást is, valamint az alkalmazott logikára és arra vonatkozó érthető információk, hogy
            az ilyen adatkezelés milyen jelentőséggel bír, és az érintettre nézve milyen várható következményekkel jár.
            Személyes adatok harmadik országba vagy nemzetközi szervezet részére történő továbbítása esetén az érintett
            jogosult arra, hogy tájékoztatást kapjon a továbbításra vonatkozó megfelelő garanciákról.<br> 1.4. Az
            Adatkezelő az adatkezelés tárgyát képező személyes adatok másolatát az érintett rendelkezésére bocsátja. Az
            érintett által kért további másolatokért az Adatkezelő az adminisztratív költségeken alapuló, észszerű
            mértékű díjat számíthat fel. Ha az érintett elektronikus úton nyújtotta be a kérelmet, az információkat
            széles körben használt elektronikus formátumban kell rendelkezésre bocsátani, kivéve, ha az érintett másként
            kéri.<br> 1.5. Az Adatkezelő a kérelem benyújtásától számított legfeljebb egy hónapon belül adja meg a
            tájékoztatást.</p>
        <p><strong>III/2. Helyesbítés joga:</strong></p>
        <p>2.1. Az érintett kérheti az Adatkezelő által kezelt, rá vonatkozó pontatlan személyes adatok helyesbítését és
            a hiányos adatok kiegészítését.</p>
        <p><strong>III/3. Törléshez való jog („az elfeledtetéshez való jog”):</strong></p>
        <p>3.1. Az érintett az alábbi indokok valamelyikének fennállása esetén jogosult arra, hogy kérésére az
            Adatkezelő indokolatlan késedelem nélkül törölje a rá vonatkozó személyes adatokat:<br> – személyes adatokra
            már nincs szükség abból a célból, amelyből azokat gyűjtötték vagy más módon kezelték;<br> – az érintett
            visszavonja az adatkezelés alapját képező hozzájárulását, és az adatkezelésnek nincs más jogalapja;<br> – az
            érintett tiltakozik az adatkezelés ellen, és nincs elsőbbséget élvező jogszerű ok az adatkezelésre;<br> – a
            személyes adatokat jogellenesen kezelték;<br> – a személyes adatokat az Adatkezelőre alkalmazandó uniós vagy
            tagállami jogban előírt jogi kötelezettség teljesítéséhez törölni kell;<br> – a személyes adatok gyűjtésére
            információs társadalommal összefüggő szolgáltatások kínálásával kapcsolatosan került sor.<br> 3.2. Az adatok
            törlése nem kezdeményezhető, ha az adatkezelés az alábbiakhoz szükséges: a véleménynyilvánítás szabadságához
            és a tájékozódáshoz való jog gyakorlása céljából; a személyes adatok kezelését előíró, az Adatkezelőre
            alkalmazandó uniós vagy tagállami jog szerinti kötelezettség teljesítése, illetve közérdekből vagy az
            Adatkezelőre ruházott közhatalmi jogosítvány gyakorlása keretében végzett feladat végrehajtása céljából; a
            népegészségügy területét érintő, vagy archiválási, tudományos és történelmi kutatási célból vagy
            statisztikai célból, közérdek alapján; vagy jogi igények előterjesztéséhez, érvényesítéséhez, illetve
            védelméhez.</p>
        <p><strong>III/4. Az adatkezelés korlátozásához való jog:</strong></p>
        <p>4.1. Az érintett kérésére az Adatkezelő korlátozza az adatkezelést, ha az alábbi feltételek valamelyike
            teljesül:<br> – az érintett vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az
            időtartamra vonatkozik, amely lehetővé teszi, a személyes adatok pontosságának ellenőrzését;<br> – az
            adatkezelés jogellenes, és az érintett ellenzi az adatok törlését, és ehelyett kéri azok felhasználásának
            korlátozását;<br> – az Adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de az
            érintett igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy<br> – az
            érintett tiltakozott az adatkezelés ellen; ez esetben a korlátozás arra az időtartamra vonatkozik, amíg
            megállapításra nem kerül, hogy az Adatkezelő jogos indokai elsőbbséget élveznek-e az érintett jogos
            indokaival szemben.<br> 4.2. Ha az adatkezelés korlátozás alá esik, a személyes adatokat a tárolás
            kivételével csak az érintett hozzájárulásával, vagy jogi igények előterjesztéséhez, érvényesítéséhez vagy
            védelméhez, vagy más természetes vagy jogi személy jogainak védelme érdekében, vagy az Európai Unió, illetve
            valamely tagállam fontos közérdekéből lehet kezelni.<br> 4.3. Az Adatkezelő előzetesen tájékoztatja az
            érintettet az adatkezelés korlátozásának feloldásáról.</p>
        <p><strong>III/5. Adathordozáshoz való jog:</strong></p>
        <p>5.1. Az érintett jogosult arra, hogy a rá vonatkozó, általa az Adatkezelő rendelkezésére bocsátott személyes
            adatokat tagolt, széles körben használt, géppel olvasható formátumban megkapja, és ezeket az adatokat egy
            másik Adatkezelőnek továbbítsa.</p>
        <p><strong>III/6. Tiltakozás joga:</strong></p>
        <p>6.1. Az érintett jogosult arra, hogy a saját helyzetével kapcsolatos okokból bármikor tiltakozzon személyes
            adatainak közérdekű vagy az Adatkezelőre ruházott közhatalmi jogosítvány gyakorlásának keretében végzett
            feladat végrehajtásához szükséges adatkezelés, vagy az Adatkezelő vagy egy harmadik fél jogos érdekeinek
            érvényesítéséhez szükséges kezelése ellen, ideértve az említett rendelkezéseken alapuló profilalkotást is.
            Tiltakozás esetén az Adatkezelő a személyes adatokat nem kezelheti tovább, kivéve, ha azt olyan kényszerítő
            erejű jogos okok indokolják, amelyek elsőbbséget élveznek az érintett érdekeivel, jogaival és szabadságaival
            szemben, vagy amelyek jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez kapcsolódnak.<br>
            6.2. Ha a személyes adatok kezelése közvetlen üzletszerzés érdekében történik, az érintett jogosult arra,
            hogy bármikor tiltakozzon a rá vonatkozó személyes adatok e célból történő kezelése ellen, ideértve a
            profilalkotást is, amennyiben az a közvetlen üzletszerzéshez kapcsolódik. A személyes adatok közvetlen
            üzletszerzés érdekében történő kezelése elleni tiltakozás esetén az adatok e célból nem kezelhetők.</p>
        <p><strong>III/7. Az automatizált döntéshozatal alóli mentesség joga:</strong></p>
        <p>7.1. Az érintett jogosult arra, hogy ne terjedjen ki rá az olyan, kizárólag automatizált adatkezelésen –
            ideértve a profilalkotást is – alapuló döntés hatálya, amely rá nézve joghatással járna vagy őt
            hasonlóképpen jelentős mértékben érintené. Nem alkalmazható ez a jogosultság, ha az adatkezelés<br> – az
            érintett és az Adatkezelő közötti szerződés megkötése vagy teljesítése érdekében szükséges;<br> –
            meghozatalát az Adatkezelőre alkalmazandó olyan uniós vagy tagállami jog teszi lehetővé, amely az érintett
            jogainak és szabadságainak, valamint jogos érdekeinek védelmét szolgáló megfelelő intézkedéseket is
            megállapít; vagy – az érintett kifejezett hozzájárulásán alapul.</p>
        <p><strong>III/8. Visszavonás joga:</strong></p>
        <p>8.1. Az érintett jogosult arra, hogy hozzájárulását bármikor visszavonja. A hozzájárulás visszavonása nem
            érinti a hozzájáruláson alapuló, a visszavonás előtti adatkezelés jogszerűségét.</p>
        <p><strong>III/9. Jogérvényesítésre vonatkozó eljárási szabályok:</strong></p>
        <p>9.1. Ügyintézési határidő: Az Adatkezelő indokolatlan késedelem nélkül, de mindenféleképpen a kérelem
            beérkezésétől számított egy hónapon belül tájékoztatja az érintettet a fenti pontok szerinti kérelmek nyomán
            hozott intézkedésekről. Szükség esetén, figyelembe véve a kérelem összetettségét és a kérelmek számát, ez a
            határidő további két hónappal meghosszabbítható. A határidő meghosszabbításáról az Adatkezelő a késedelem
            okainak megjelölésével a kérelem kézhezvételétől számított egy hónapon belül tájékoztatja az érintettet. Ha
            az érintett elektronikus úton nyújtotta be a kérelmet, a tájékoztatás elektronikus úton kerül megadásra,
            kivéve, ha az érintett azt másként kéri.<br> 9.2. Ha az Adatkezelő nem tesz intézkedéseket az érintett
            kérelme nyomán, késedelem nélkül, de legkésőbb a kérelem beérkezésétől számított egy hónapon belül
            tájékoztatja az érintettet az intézkedés elmaradásának okairól, valamint arról, hogy az érintett panaszt
            nyújthat be valamely felügyeleti hatóságnál, és élhet bírósági jogorvoslati jogával.<br> 9.3. Az Adatkezelő
            a kért információkat és tájékoztatást díjmentesen biztosítja. Ha az érintett kérelme egyértelműen
            megalapozatlan vagy – különösen ismétlődő jellege miatt – túlzó, az Adatkezelő, figyelemmel a kért
            információ vagy tájékoztatás nyújtásával vagy a kért intézkedés meghozatalával járó adminisztratív
            költségekre észszerű díjat számolhat fel, vagy megtagadhatja a kérelem alapján történő intézkedést.<br> 3.4.
            Az Adatkezelő minden olyan címzettet tájékoztat az általa végzett valamennyi helyesbítésről, törlésről vagy
            adatkezelés-korlátozásról, akivel, illetve amellyel a személyes adatot közölték, kivéve, ha ez lehetetlennek
            bizonyul, vagy aránytalanul nagy erőfeszítést igényel.</p>
        <p><strong>III/10. Adatbiztonság: </strong></p>
        <p>10.1. Az adatkezelő minden tőle telhető lépést megtesz az adatok biztonságának biztosítása érdekében, illetve
            annak érdekében, hogy csökkentse a kockázatot, ami a továbbított, tárolt vagy más módon kezelt személyes
            adatok véletlen vagy jogellenes megsemmisítéséből, elvesztéséből, megváltoztatásából, jogosulatlan
            nyilvánosságra hozatalából vagy az azokhoz való jogosulatlan hozzáférésből ered. Az adatkezelő és az
            adatfeldolgozó a tudomány és technológia állása és a megvalósítás költségei, továbbá az adatkezelés jellege,
            hatóköre, körülményei és céljai, valamint a természetes személyek jogaira és szabadságaira jelentett,
            változó valószínűségű és súlyosságú kockázat figyelembevételével megfelelő technikai és szervezési
            intézkedéseket hajt végre annak érdekében, hogy a kockázat mértékének megfelelő szintű adatbiztonságot
            garantálja, ideértve, többek között, adott esetben: a) a személyes adatok álnevesítését és titkosítását; b)
            a személyes adatok kezelésére használt rendszerek és szolgáltatások folyamatos bizalmas jellegének
            biztosítását, integritását, rendelkezésre állását és ellenálló képességét; c) fizikai vagy műszaki incidens
            esetén az arra való képességet, hogy a személyes adatokhoz való hozzáférést és az adatok rendelkezésre
            állását kellő időben vissza lehet állítani; d) az adatkezelés biztonságának garantálására hozott technikai
            és szervezési intézkedések hatékonyságának rendszeres tesztelésére, felmérésére és értékelésére szolgáló
            eljárást.</p>
        <p align="center"><strong>IV. Jogorvoslat, panasz</strong></p>
        <p align="left">1. A Nemzeti Adatvédelmi és Információszabadság Hatóságnál (http://www.naih.hu/; székhely: 1055
            Budapest, Falk Miksa utca 9-11., Postacím: 1363 Budapest, Pf.: 9., Telefon: +36 (1) 391-1400) bejelentéssel
            bárki vizsgálatot kezdeményezhet arra hivatkozással, hogy személyes adatok kezelésével, illetve a közérdekű
            adatok vagy a közérdekből nyilvános adatok megismeréséhez fűződő jogok gyakorlásával kapcsolatban jogsérelem
            következett be, vagy annak közvetlen veszélye fennáll. A Hatóság vizsgálata ingyenes, a vizsgálat költségeit
            a Hatóság előlegezi és viseli.</p>
        <p align="left">2. Az érintett a jogainak megsértése esetén az Adatkezelő ellen bírósághoz fordulhat. A bíróság
            az ügyben soron kívül jár el. A per elbírálása a törvényszék hatáskörébe tartozik. A per – az érintett
            választása szerint – az érintett lakóhelye vagy tartózkodási helye szerinti törvényszék előtt is
            megindítható. Az Adatkezelő az érintett adatainak jogellenes kezelésével vagy az adatbiztonság
            követelményeinek megszegésével másnak okozott kárt köteles megtéríteni. Az érintettel szemben az Adatkezelő
            felel az adatfeldolgozó által okozott kárért is. Az Adatkezelő mentesül a felelősség alól, ha bizonyítja,
            hogy a kárt az adatkezelés körén kívül eső elháríthatatlan ok idézte elő. Nem kell megtéríteni a kárt
            annyiban, amennyiben az a károsult szándékos vagy súlyosan gondatlan magatartásából származott. Ha az
            Adatkezelő az érintett adatainak jogellenes kezelésével vagy az adatbiztonság követelményeinek megszegésével
            az érintett személyiségi jogát megsérti, az érintett az Adatkezelőtől sérelemdíjat követelhet.</p>
    </div>

</div>

<div id="content_wrapper">
</div>

{% endblock %}
